<div class="container-sm">
    <h1 class="">Empleados:</h1>
    <table class="table table-hover table-bordered text-center align-middle ">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Cargo</th>
                <th>Dni</th>
                <th>Acciones</th>
            </tr>
        </thead>
    

        <tbody>
            @for (empleado of empleados; track $index) {
                <tr>
                    <td>{{empleado.idEmpleado}}</td>
                    <td>{{empleado.nombreEmpleado}}</td>
                    <td>{{empleado.apellidoEmpleado}}</td>
                    <td>{{empleado.direccionEmpleado}}</td>
                    <td>{{empleado.cargoEmpleado}}</td>
                    <td>{{empleado.dniEmpleado}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm m-1" (click)="deleteEmpleado(empleado.idEmpleado)"> 
                            ELIMINAR
                        </button>

                        <button class="btn btn-info btn-sm" [routerLink]="['/editar', empleado.idEmpleado]">
                            EDITAR
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div >

