<h2 class="text-center text-decoration-underline">CREAR EMPLEADO</h2>
<div class="container-sm col-md-4  border p-3 border-black rounded" >
    <form [formGroup]="empleadoForm" (ngSubmit)="guardar()">

            <div class="m-1">
                <label class="col-4 fs-4 ">Nombre: </label>
                <input class="col-8" type="text" formControlName="nombreEmpleado">
            </div>

            <div class="m-1">
                <label class="col-4 fs-4">Apellido: </label>
                <input class="col-8" type="text" formControlName="apellidoEmpleado">
            </div>

            <div class="m-1">
                <label class="col-4 fs-4">Direccion: </label>
                <input class="col-8" type="text" formControlName="direccionEmpleado">
            </div>

            <div class="m-1">
                <label class="col-4 fs-4">Cargo: </label>
                <input class="col-8" type="text" formControlName="cargoEmpleado">
            </div>

            <div class="m-1">
                <label class="col-4 fs-4">DNI:</label>
                <input class="col-8" type="number" formControlName="dniEmpleado">
            </div>


        <div class=" text-center">
            <button type="submit" class="col-3 m-1 btn btn-success" >Guardar</button>
            <button type="button" class="col-3 m-1 btn btn-warning" (click)="limpiar()">Limpiar</button>
        </div>
    </form>
</div>
